.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

/* === Аккордион === */
.accordion {
}

.accordion-item {
  position: relative;
  margin-bottom: 20px;
}

.accordion-item__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.accordion-item__trigger {
  display: block;
  padding: 20px;
  border: 1px solid black;
}

.accordion-item__content {
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  display: none;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
}

.accordion-item__input:checked ~ .accordion-item__content {
  background-color: #eee;
  display: block;
}
